<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <title> Editar Producto Individual | MiPC </title>
</head>

<body>
    <%- include("../partials/adminMenu.ejs") %>

        <main class="main">
            <div class="contenedor-login2">
                <div class="login3">

                    <h3>Editar producto existente</h3>
                    <p>Edita las especificaciones de tu producto</p>
                    <form>
                        <div class="campo-ind">
                            <label class="label-login">Nombre del producto: </label><br>
                            <input class="campo-log" type="text" style="background-color: transparent;"
                                placeholder="--PRODUCTO DE LA BASE DE DATOS--">
                        </div>

                        <div class="campo-ind">
                            <label class="label-login">Descripción de tu producto: </label><br>
                            <textarea class="campo-log" style="background-color: transparent;"> </textarea>
                        </div>

                        <div class="campo-ind">
                            <label class="label-login">Precio a público: </label><br>
                            <input class="campo-log" type="number" style="background-color: transparent;"
                                placeholder="$--PRECIO DE LA BASE DE DATOS MXN">
                        </div>

                        <div class="campo-ind">
                            <label class="label-login">Imagen principal de producto: </label><br><br>
                            <input class="campo-log" type="file" style="background-color: transparent;"
                                placeholder="Se muestra a usuarios">
                        </div>


                        <div class="row">
                            <div class="col">
                                <div class="campo-ind">
                                    <label class="label-login">Categoría del producto: </label><br><br>
                                    <select name="select">
                                        <option value="value1" selected>Selecccionar categoría</option>
                                        <option value="value2">Laptops</option>
                                        <option value="value3">Memorias RAM</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col">
                                <div class="campo-ind">
                                    <label class="label-login">Estado del producto: </label><br><br>
                                    <select name="select">
                                        <option value="value1" selected>Selecccionar estado</option>
                                        <option value="value2">Nuevo</option>
                                        <option value="value3">Usado</option>
                                    </select>

                                </div>
                            </div>
                        </div>



                        <button class="btn btn-outline-success btn_search" type="submit">Registrar nuevo
                            producto</button>


                    </form>

                </div>


            </div>

        </main>

        <!-- Bootstrap - JS -->
        <%- include("../partials/bootstrap_script.ejs") %>

            <%- include("../partials/footer.ejs") %>

</body>

</html>