<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
        <title> Listado de productos | MiPC </title>
</head>

<body>
    <%- include("../partials/adminMenu.ejs") %>

        <main class="main">
            <div class="contenedor-login2">
                <div class="login3">

                    <h3>Lista de productos (editar | borrar)</h3>
                    <p>Se muestra el listado de los productos registrados</p>

                    <!--Aquí va el lista de productos para el CRUD-->


                </div>


            </div>

        </main>

        <!-- Bootstrap - JS -->
        <%- include("../partials/bootstrap_script.ejs") %>

            <%- include("../partials/footer.ejs") %>

</body>

</html>