/*
* @file Ofertas
*/

.oferta {
	background-color: #e23e4e;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}

.Soferta{
	background-color: white;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}