<footer>
    <div>
        <div class="grid-footer-contenido">
            <div class="grid-footer-enlaces">
                <ul class="footer-enlaces">
                    <li class="enlace-del-footer-principal">
                        <a href="">Conócenos</a>
                    </li>
                    <li class="enlace-del-footer">
                        <a href="">Trabaja con nosotros</a>
                    </li>
                    <li class="enlace-del-footer">
                        <a href="">Información corporativa</a>
                    </li>
                </ul>
                <ul class="footer-enlaces">
                    <li class="enlace-del-footer-principal">
                        <a href="">Métodos de pago</a>
                    </li>
                    <li class="enlace-del-footer">
                        <a href="">Tarjetas de crédito</a>
                    </li>
                    <li class="enlace-del-footer">
                        <a href="">Tarjetas de regalo</a>
                    </li>
                    <li class="enlace-del-footer">
                        <a href="">Meses sin intereses</a>
                    </li>
                </ul>
            </div>
            <div class="grid-footer-logo">
                <a title="Mi PC" href="/index">
                    <img class="img-logo-centrado" src="/images/logo/logo_v1.png" alt="Logo de Mi PC">
                </a>
            </div>
            <div class="grid-footer-info">
                <div class="grid-footer-info-detalles">
                    <div class="footer-texto">
                        <p>"Sucursal"</p>
                        <br />
                        <p>"Oficinas"</p>
                        <br />
                        <p>"Telefono"</p>
                        <br />
                        <p>"Correo"</p>
                    </div>
                </div>
                <div class="grid-footer-info-lenguajes">
                    <a class="lang" href=""> Esp </a>
                    <a class="lang" href=""> Eng </a>
                </div>
            </div>
        </div>
    </div>

</footer>