<div class="grid-contenedor-menu-hamburgesa">
    <span class="boton-hamburgesa"><i class="fas fa-bars"></i></span>
    <div class="menu-hamburgesa-head">
        <span class="boton-cerrar boton-icon"><i class="fas fa-times"></i></span>
    </div>
    <div class="menu-hamburgesa-body">
        <p class="menu-hamburgesa-link"><a href="/">HOME</a></p>
        <p class="menu-hamburgesa-link"><a href="/productCart">CARRITO DE COMPRAS</a></p>
        <p class="menu-hamburgesa-link"><a href="/register">REGISTRAR</a></p>
        <p class="menu-hamburgesa-link"><a href="/login">LOGIN</a></p>
    </div>
    <div class="menu-hamburgesa-footer"></div>
</div>