<!DOCTYPE html>
<html lang="es">
	<head>
		<title> Actualizado | MiPC </title>
		<%- include("partials/head.ejs") %>
	</head>
	<body>
		<header>
			<%- include("./partials/adminMenu.ejs") %>
		</header>

		<main>

			<div class="contenedor-login">
				<div class="login2">
									<p style="text-align: center;">Operación exitosa</p>
					<h3 style="text-align:center; font-weight: bold;">¡Producto actualizado con éxito!</h3><br>
									<a style="margin-left: auto; margin-right: auto;" href="/products/admin/list">Regresar a listado de productos</a>
					
				</div>


			</div>
		</main>
		<!--FOOTER-->
		<%- include("partials/footer.ejs") %>
	</body>
</html>
