<!DOCTYPE html>
<html lang="es">

<!--HEAD-->
<head>
	<title> Login | MiPC </title>
	<%- include("partials/head.ejs") %>
</head>

<body>
	<header>
		<!--Header-escritorio-->
		<%- include("partials/header.ejs") %>
			<!-- Header hambuger  -->
			<%- include("partials/headerhambugerMenu.ejs")%>
	</header>
	<main>

		<div class="contenedor-login">
			<div class="login">

				<h3>¿Ya tienes cuenta? </h3>
				<p>Aquí podrás iniciar sesión y rastrear tus pedidos</p>
				<form>
					<div class="campo-ind">
						<label class="label-login">Correo Electrónico:</label><br>
						<input class="campo-log" type="email" placeholder="ejemplo@mipc.com">
					</div>

					<div class="campo-ind">
						<label class="label-login">Contraseña:</label><br>
						<input class="campo-log" type="password" placeholder="--">
					</div>

					<button class="btn btn-outline-success btn_search" type="submit">Iniciar sesión</button>
					<p></p>
					<p>Al ingresar a esta p&aacute;gina, aceptas nuestros <a href="#">t&eacute;rminos y condiciones.</a>
					</p>

				</form>

			</div>


		</div>

	</main>
	<!-- FOOTER -->
	<%- include("partials/footer.ejs") %>
</body>

</html>