<!DOCTYPE html>
<html lang="es">

<head>
	<title> Carrito de Compras | MiPC </title>
	<%- include("partials/head.ejs") %>
</head>

<body>
	<header>
		<!--Header-escritorio-->
		<%- include("partials/header.ejs") %>
			<!-- Header hambuger  -->
			<%- include("partials/headerhambugerMenu.ejs")%>
	</header>
	<main>
		<div class="main-container carrito-de-compras">
			<div class="titulo-pagina">
				<h1>CARRITO DE COMPRAS</h1>
			</div>
			<div class="tabla-titulo">
				<div class="tabla-subtitulo">
					<p class="subtitulo-producto">PRODUCTO</p>
				</div>
				<div class="tabla-subtitulo">
					<p class="subtitulo-cantidad">CANTIDAD</p>
				</div>
				<div class="tabla-subtitulo">
					<p class="subtitulo-total">TOTAL</p>
				</div>
			</div>
			<div class="tabla-productos">
				<div class="row-producto">
					<div class="col-producto">
						<div class="col-producto-img">
							<img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
						</div>
						<div class="col-producto-info">
							<div class="col-producto-info-nombre">
								<p>MacBook Pro 2019</p>
							</div>
							<div class="col-producto-info-descripcion">
								<p>Descripcion del producto</p>
							</div>
						</div>
					</div>
					<div class="col-cantidad">
						<div class="cantidad-contador">
							<div class="operador izquierda">-</div>
							<div class="contador">1</div>
							<div class="operador derecha">+</div>
						</div>
						<div class="btn-remover">
							<button class="btn-accion" type="submit">REMOVER<i class="fas fa-trash-alt"></i>
							</button>
						</div>
					</div>
					<div class="col-total">
						<div class="precio">
							<p class="precio-subtitulo">TOTAL</p>
							<p class="precio-valor">$29,000.00</p>
						</div>
					</div>
				</div>
				<div class="row-producto">
					<div class="col-producto">
						<div class="col-producto-img">
							<img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
						</div>
						<div class="col-producto-info">
							<div class="col-producto-info-nombre">
								<p>MacBook Pro 2019</p>
							</div>
							<div class="col-producto-info-descripcion">
								<p>Descripcion del producto</p>
							</div>
						</div>
					</div>
					<div class="col-cantidad">
						<div class="cantidad-contador">
							<div class="operador izquierda">-</div>
							<div class="contador">1</div>
							<div class="operador derecha">+</div>
						</div>
						<div class="btn-remover">
							<button class="btn-accion" type="submit">REMOVER<i class="fas fa-trash-alt"></i>
							</button>
						</div>
					</div>
					<div class="col-total">
						<div class="precio">
							<p class="precio-subtitulo">TOTAL</p>
							<p class="precio-valor">$29,000.00</p>
						</div>
					</div>
				</div>
				<div class="row-producto">
					<div class="col-producto">
						<div class="col-producto-img">
							<img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
						</div>
						<div class="col-producto-info">
							<div class="col-producto-info-nombre">
								<p>MacBook Pro 2019</p>
							</div>
							<div class="col-producto-info-descripcion">
								<p>Descripcion del producto</p>
							</div>
						</div>
					</div>
					<div class="col-cantidad">
						<div class="cantidad-contador">
							<div class="operador izquierda">-</div>
							<div class="contador">1</div>
							<div class="operador derecha">+</div>
						</div>
						<div class="btn-remover">
							<button class="btn-accion" type="submit">REMOVER<i class="fas fa-trash-alt"></i>
							</button>
						</div>
					</div>
					<div class="col-total">
						<div class="precio">
							<p class="precio-subtitulo">TOTAL</p>
							<p class="precio-valor">$29,000.00</p>
						</div>
					</div>
				</div>
			</div>

			<div class="btn-actualizar">
				<button class="btn-accion" type="submit">Actualizar carrito<i class="fas fa-sync-alt"></i></button>
			</div>
			<div class="tabla-subtotal">
				<div class="subtotal-titulo">Subtotal</div>
				<div class="precio-total">$29,000.00</div>
				<div class="btn-pagar"><button class="btn-accion" type="submit">Proceder a Pagar</button></div>
			</div>
		</div>
	</main>
	<%- include("partials/footer.ejs") %>
</body>

</html>