<!DOCTYPE html>
<html lang="es">
    <head>
        <title> Register | MiPC </title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel= "stylesheet"/>    
        
		<!-- Bootstrap - CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


        <link rel="stylesheet" href="/css/normalize.css" type="text/css"/>
        <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    
    </head> 
    <body>
		<header>
			<!--Header-escritorio-->
			<%- include("partials/header.ejs") %>
			<!-- Header hambuger  -->
			<%- include("partials/headerhambugerMenu.ejs")%>
		</header>
        <main >
			
            <div class="grid-contenedor-register">
				<h2> Bienvenido  </h2>
                <div class="grid-register-form">
                    <form action="/register" method="POST">
						<div>
							<input type="text" name="Nombre" placeholder="Nombre y apellido"/>
						</div>
						<div>
							<input type="text" name="Correo" placeholder="Correo"/>
						</div>
						<div>
							<input type="text" name="Contraseña0" placeholder="Contraseña"/>
						</div>
						<div>
							<input type="text" name="Contraseña1" placeholder="Confirmar contraseña"/>
						</div>
						<div id="contraseñaCheck">
							<input type="checkbox" name="MostrarContraseña" value="False"/>
							<label for="MostrarContraseña">Mostrar contraseña</label>
						</div>
						<div>
							<input type="reset" value="Vaciar"></input>
							<input type="submit" value="Enviar"></input> 
						</div>
					</form>
                </div>
				<div class="grid-register-legal">
					<p>
						Al crear una cuenta aceptas las 
						<a href="">Condiciones de uso</a>
						y el 
						<a href="">Aviso de privacidad</a>
						de Mi|PC.
					</p>
				</div>
			</div>
        </main>
		<!--FOOTER-->
		<%- include("partials/footer.ejs") %>
    </body>  
</html>