.contenedor-login{
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #ffffff;

    background-image: radial-gradient(#d8d8d8 1.5px, #ffffff 1.5px);
    background-size: 30px 30px;

    
}

.login{
    color: black;
    background-color: white;
    width: 450px;
    height: 470px;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05); 
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05);

}

.login2{
    color: black;
    background-color: white;
    width: 600px;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05); 
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05);

}


.campo-ind{
    color: #717171;
    border: solid #ced4da 1px;
    padding: 10px;
    padding-top: 5px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.label-login{
    font-weight: 300;
    margin-bottom: -20px;
}

.campo-log{
    height: 30px;
    border: transparent;
    width: 100%;
    border-radius: 0px;
}

.campo-log:focus{
    border-radius: 0px;
    outline: none;
}