.main{
    
    background-color: #ffffff;

    background-image: radial-gradient(#a0a3a7 1.5px, #ffffff 1.5px);
    background-size: 30px 30px;
}

.navbar{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-admin{
    margin-right: 30px;
}


.nav-link{
    font-size: 12px;
    transition: all 0.2s;
}

.nav-link:hover{
    transform: scale(1.05);
}

.contenedorAdmin, .contenedor-login2{
    padding: 40px;
    padding-top: 80px;
    padding-bottom: 80px;

}

.cuadricula-opciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.op-elemento{
    background-color: rgb(0, 0, 0);
    column-gap: 75px;
    flex-basis: 310px;
    margin: 10px;
    margin-top: 15px;
    padding: 60px;
    transition: all 0.3s;
    align-content: center;

}

.op-elemento:hover{
    transform: scale(0.95);
    cursor: pointer;
}

#agregarProducto{
    flex: 1;
    background: linear-gradient(141deg, rgba(228,158,41,1) 0%, rgba(226,62,78,1) 100%);
    margin-left: 0px;
}

.last{
    margin-right: 0px;
}


.login3{
    color: black;
    background-color: white;
    width: 100%;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05); 
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05);

}