/* ===================================
 *             Imports
 * =================================== */
 @import "styles_productCart.css";
 @import "styles_productDetail.css";

/* ================
 * Global Variables
 * ================ */
 :root {

	--blanco: #fff;
  --gris: #e7e7e7;
  --naranja: #e49e29;
  --rojo: #e23e4e;
  --negro: #000;


	--main-font: 'Poppins', sans-serif;
	--gradiente-1: linear-gradient(141deg, rgba(226,62,78,1) 0%, rgba(228,158,41,1) 100%);
	--gradiente-2: linear-gradient(141deg, rgba(228,158,41,1) 0%, rgba(226,62,78,1) 100%);

	--font-color-primario: var(--negro);
	--font-color-secundario: var(--rojo);
	--font-color-bg: var(--blanco);
	--bg-primario: var(--blanco);
	--bg-secundario: var(--rojo);
	--decoracion-primario: var(--gris);
	--decoracion-secundario: var(--rojo);

	--distancia-normal: 5px;
	--distancia-largo: 10px;

}


/* ===================================
 *          General Styles
 * =================================== */
 * {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: var(--main-font)
}

.btn-accion {
	background-color: rgba(226,62,78,0);
	border-radius: 150px;
	padding: 10px 20px 10px 20px;
}

/* =================== Products =================== */

.pro-destacados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: center;
}

.individual{
    margin: 10px;
    margin-bottom: 50px;
    border: solid #e7e7e7 1px;
    text-align: center;
    width: 350px;
}

.contenedor_info{
    border-top: solid #e7e7e7 1px;

}

.checked {
    color: #e49e29;
  }

.img_ind{
    width: 100%;
}
.contenedor-imagen{
    padding: 12.5%
}

.contenedor_info{
    padding: 20px;
}

.atributos{
    display: flex;
    align-items: center;
}

.contenedor_btn{
    display: flex;

}

.btn1{
    background-color: #fff;
    border-radius: 150px;
    border: rgba(255, 255, 255, 0);
    padding: 10px;
    border: solid #e7e7e7 1px;
}

.icon-tienda{
    color: #fff;
    padding: 5px;
    border-radius: 150px;
    background-color: #e23e4e;
    width: 35px;
    height: 35px;
}

.btn1:hover{
    background-color: #e23e4e;
    color: #fff;
}

.texto-carrito{
    margin-right: 15px;
    margin-left: 10px;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
}

.titulo_producto{
    font-size: 22px;
    font-weight: 500;
    text-align: left;

}

.precio{
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
    margin-right: 35%;
}

.descrip_producto{
    text-align: left;
    color: #717171;
    font-weight: 300;

}

.grid-contenedor-productos{
    margin: 50px;
}

.agregar-carrito{
    margin-top: 10%;
    margin-bottom: -19%;
}

.tit-1{
    font-weight: 500;
}

/* =================== END Products =================== */

/* =================== Main Styles =================== */
header{
    width:100%
}

/* =================== HEADER ESCRITORIO =================== */
.s1{
    background: rgb(228,158,41);
    background: linear-gradient(141deg, rgba(228,158,41,1) 0%, rgba(226,62,78,1) 100%);
    padding-top: 5px;
    padding-bottom: 5px;
}

.s3{
    padding-right: 100px;
}

.header-1{
    padding: 30px;
}

.navbar-expand{
    padding-left: 23px;
}

.nav-link{
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}

.nav-link:hover{
    color: black;

}

.bi{
    color: white;
}

.bi:hover{
    color: black;
    transform: scale(1.4);
}

.box-redes{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-right: 50px;
}


.searchBar{
    display: flex;
    align-items: center;
}

.seccion3{
    border-top: solid #e7e7e7 1px;
    border-bottom: solid #e7e7e7 1px;

}

.art_1{
    display: flex;
    padding: 10px;
}

.titulo_cont{
    font-size: 18px;
    margin-bottom: 1px;
}

.cont{
    margin-left: 15px;
}

.art_1 > .bi{
    width: 25px;
    height: 25px;
    color: black;
}

.caracteristicas{
    display: flex;
    justify-content: space-around;
}

#logo-search{
    display:flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-around;
    align-items: center;
}

#logo{width:45%;}


#credito{text-align: center;}


.btn2{
    background-color: #fff;

    border: rgba(255, 255, 255, 0);
    padding: 10px;
    background: rgb(228,158,41);
    background: linear-gradient(141deg, rgba(228,158,41,1) 0%, rgba(226,62,78,1) 100%);
    padding-left: 35px;
    padding-right: 25px;
}

.btn3{
    margin-left: 20px;
    background-color: transparent;
    color: black;
    border: rgba(255, 255, 255, 0);
    padding: 10px;
    border: solid black 1px;
    padding-left: 35px;
    padding-right: 25px;
}

.s3-1{
    display: flex;
    justify-content: flex-start;
}


.formSearch{
    margin-top: auto;
    margin-bottom: auto;

}

.me-2{
    background-color: #e7e7e7;
    border: transparent;
    border-radius: 0px;
    margin-left: 30px;
    margin-right: 10px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.btn_search{
    border-radius: 0px;
    background-color: black;
    color: white;
    font-weight: 300;
    border: transparent;
}

.btn_search:hover{
    border-radius: 0px;
    background: rgb(228,158,41);
    background: linear-gradient(141deg, rgba(228,158,41,1) 0%, rgba(226,62,78,1) 100%);
    color: white;
    font-weight: 300;
    border: transparent;
}

/* =================== FIN HEADER ESCRITORIO =================== */




main section .article div h3{
    font-size: 1em;
    width:  100%;
}
footer{
    background-color:#FFFFFF;  
    width: 100%;
}


p{font-size:12px;}

/* - - - - - - - - - - - Header - - - - - - - - - - - */
.grid-contenedor-menu-hamburgesa { 
	background: var(--gradiente-1);
	display: grid;
}

.boton-hamburgesa { 
	margin-top: 0.5rem;
	margin-right: 1rem;
	justify-self: end;

	color: var(--font-color-bg);
}

.menu-hamburgesa-head {
	padding: 1rem 0;
	display: grid;
	justify-content: end;
}

.menu-hamburgesa-head .boton-cerrar {
	margin-right: 1rem;
	position: relative;
}

.boton-icon {
	color: var(--font-color-secundario);
	background-color: var(--font-color-bg);
	border-radius: 45px;
	width: 25px;
	height: 25px;
	text-align: center;
	font-size: 16px;
	padding-top: 4.5px;
}

.boton-icon i {
	position: absolute;
	left: 0;
	right: 0;
}

.menu-hamburgesa-body {
	padding-bottom: 1rem;

	display: grid;
	justify-content: center;
	gap: 0.75rem;
}

.menu-hamburgesa-link {
	margin: auto;
	text-align: center;
}

.menu-hamburgesa-link a {
	font-size: 16px;
	font-weight: bold;
	color: var(--font-color-bg);
}

/* - - - - - - - - - - - Index - - - - - - - - - - - */

.grid-contenedor-index {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
	grid-template-areas: 
	"slider slider"
	"img-half-w img-half-w";
}

.grid-slider {
	grid-area: slider;
}


.grid-half-width {
	grid-area: img-half-w;

	display: grid;
}

.grid-half-width img {
	margin: auto;
	width: 100%;
	padding: 2rem;
	max-height: 300px;
	width: auto;
}



.icons{
    padding-top: 10%;
    text-align: center;
    color:#1259c3;
    font-size:30px;
}
footer{
    background-color:#FFFFFF;  
    width: 100%;
}

.textofooter{text-align:center;}
footer section section .titular{
    width:100%;
    font-size:5vw;
    text-align: center;
    padding-top:15px;
    padding-bottom:15px;
}

.burger-menu{
    text-align: center;
}

.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 15px;
    height: 25px;
    margin: 5px 0px 15px 0px;
    padding: 5px;
    width: 30px;
}

/* - - - - - - - - - - - Footer - - - - - - - - - - - */

.grid-ir-a-inicio{
    background: var(--naranja);
    height:50px;
    padding-top:10px;
    font-weight: bold;
    text-align: center
}
.grid-footer-contenido{
    background:var(--gradiente-2);
    padding:15px;
    border:1px solid var(--negro);
    
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
.grid-footer-enlaces{
    border-bottom:1px solid var(--negro);
}
ul#footer-enlaces{
    display:flex;
    flex-flow:row wrap;
    height: 90%;
    padding:5px;
}
li.enlace-del-footer{
    width:50%;
    list-style: none;
    text-align: center;
}

.grid-footer-logo a{
    width:100%;
    height:auto;
    text-align: center;
}
.img-logo-centrado{
    width:50%;
    position:relative;
    left:25%;  
    /*Las imagenes empiezan desde su pixel incial*/
    padding-top:20px;
    padding-bottom:20px;
}
.footer-texto{
    
    border-bottom:1px solid var(--negro);
    display:flex;
    flex-flow:row wrap;
    text-align: center;
    
}
.footer-texto p{
    width:50%;
}
.grid-caja-icono-redes{
    text-align:center;
}
a.icono-red i{
    text-align: center;
    width:50px;
    font-size:2em;
    padding:5px;
}


 
/* celular  */
/* Mobile First, lo de arriba debe ser para celular */
@media (max-width: 770px){
    .tit-1{
        text-align: center;
    }
}

@media (max-width: 1100px){
    .header-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;

    }

    .seccion3, .box-redes, .btn3{
        display: none;
    }

}

/*tablet*/
@media (min-width:481px) and (max-width:768px){


 
    main section .article{width:45%;}
    header .form{font-size:2vw; }
    header .form .submit{
        width: 12.5%;
    }
    main section .titular{   font-size:3vw; }
    main section .article:hover{
        max-height:auto;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    /*footer responsive */
    .grid-footer-contenido{
        background:var(--gradiente-2);
        padding:15px;
        border:1px solid var(--negro);
        
        flex-direction: row;
        align-items:center;
        justify-content:space-evenly;
        font-size:1em;
    }
    .grid-footer-enlaces{
        border-bottom:none;
        width: 40%;
    }
    .grid-footer-logo{
        border-right:1px solid var(--negro);
        border-left:1px solid var(--negro);
        width: 20%;
    }
    .grid-footer-info{
        display:flex;
        flex-direction:row;
        width:40%;
    }
    .grid-footer-info-detalles{
        align-self:center;
    }
    .footer-texto{
    
        border-bottom:none;
        display:flex;
        flex-flow:row wrap;
        text-align: center;
        
    }
    .grid-caja-icono-redes{
        display:flex;
        flex-direction:column;
    }
 

}

@media (max-width: 769px){
    .s1{
        display: none;
    }
}

/*any laptop to desktop*/
@media (min-width: 769px){



    #logo-search div{width: 30%;}
    main section .article{width:22%;}
    header .form{ font-size:1.5vw; }
    header .form .submit{       width: 12.5%;   }
    main section .titular{   font-size:2.5vw; }

		.grid-contenedor-menu-hamburgesa { display: none; }

		main {
			grid-template-columns: 50% 50%;
			grid-template-areas: 
			"slider slider"
			"img-half-w img-half-w";
		}

		.grid-half-width {
			grid-template-columns: 50% 50%;
		}



 


    main section .article:hover{
        max-height:auto;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    /* footer responsive*/
    .grid-footer-contenido{
        background:var(--gradiente-2);
        padding:15px;
        border:1px solid var(--negro);
        
        flex-direction: row;
        align-items:center;
        justify-content:space-evenly;
    }
    .grid-footer-enlaces{
        border-bottom:none;
        width: 40%;
    }
    .grid-footer-logo{
        border-right:1px solid var(--negro);
        border-left:1px solid var(--negro);
        width: 20%;
    }
    .grid-footer-info{
        display:flex;
        flex-direction:row;
        width:40%;
    }
    .grid-footer-info-detalles{
        align-self:center;
    }
    .footer-texto{
    
        border-bottom:none;
        display:flex;
        flex-flow:row wrap;
        text-align: center;
        
    }
    .grid-caja-icono-redes{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .grid-caja-icono-redes a{
        width:30%;
    }
    .contenedor-comentarios{width: 50%;}
}