/*
* Default Variables
* Modify this file to provide default varialbes.
*/

/* ================================================ *
 *                Global Variables                  *
 * ================================================ */
 :root {

	--blanco: #fff;
  --gris: #e7e7e7;
  --naranja: #e49e29;
  --rojo: #e23e4e;
  --negro: #000;


	--main-font: 'Poppins', sans-serif;
	--gradiente-1: linear-gradient(141deg, rgba(226,62,78,1) 0%, rgba(228,158,41,1) 100%);
	--gradiente-2: linear-gradient(141deg, rgba(228,158,41,1) 0%, rgba(226,62,78,1) 100%);

	--font-color-primario: var(--negro);
	--font-color-secundario: var(--rojo);
	--font-color-bg: var(--blanco);
	--bg-primario: var(--blanco);
	--bg-secundario: var(--rojo);
	--decoracion-primario: var(--gris);
	--decoracion-secundario: var(--rojo);

	--distancia-normal: 5px;
	--distancia-largo: 10px;
}