/*
* @file errores
*/
@import ".././overrides/default-variables";

body{
    background: #e7e7e7;

        
    img.imgError{
        position: absolute;
        width: 30%;
        top: 100px;
        left: 50%;
        margin-left: -15%;
    }

    div.textError{
        text-align: center;
        font-size: 5vw;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    //Mensaje de error de express-validator
    .error-registro {
        color:Red;
        border: rgba(255, 255, 255, 0);
    
    }
}
