/*
* @file 
* Register
*/

.contenedor_formulario_login {
	width: 100%;
	max-width: width 800px;
	margin: auto;
	position: relative;
}

.caja__login {
	width: 100%;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	backdrop-filter: blur(10px);
	background-color: #e49e29;

  div {
		margin: 100px 40px;
		color: #e23e4e;
		transition: all 500ms;
	}
}

.caja__register div {
	p, button {
		margin-top: 30px;
	}

  h3 {
		font-weight: 400;
		font-size: 26px;
	}
}

.contenedor_formulario_register button {
	padding: 10px 40px;
	border: 2px solid #fff;
	background: transparent;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	color: white;
	outline: none;
	transform: all 300ms;
}
