/*
* @file 
* User
*/

@import ".././overrides/media-variables";

.main {
	background-color: #fff;
	background-image: radial-gradient(#a0a3a781 0.5px, #fff 0);
	background-size: 15px 15px;
}

.navbar {
	background-color: black;
	padding-top: 20px;
	padding-bottom: 20px;
}

.img-admin {
	margin-right: 30px;
}

.nav-link {
	font-size: 12px;
	transition: all 0.2s;

	&:hover {
		transform: scale(1.05);
	}
}



.profileBackgoundImage{
	height: 150px;
	background-size: cover;
	background-position: center;


}

.UserAvatarPP{
	max-width: 80%;
	border-radius: 1000px;
	-webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05);
	margin-bottom: 25px;
}

.InnerSectionProfile{
	
	border-top: solid #e7e7e7 1px;
	padding-top: 20px;
	padding-bottom: 20px;
}


.contenedorAdmin,
.contenedor-login2 {
	padding: 40px;
	padding-top: 80px;
	padding-bottom: 80px;
}

.cuadricula-opciones {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.op-elemento {
	background-color: rgb(0, 0, 0);
	column-gap: 75px;
	flex-basis: 310px;
	margin: 10px;
	margin-top: 15px;
	padding: 60px;
	transition: all 0.3s;
	align-content: center;

	&:hover {
		transform: scale(0.95);
		cursor: pointer;
	}
}

#productAdd {
	flex: 1;
	background: linear-gradient(
		141deg,
		rgba(228, 158, 41, 1) 0%,
		rgba(226, 62, 78, 1) 100%
	);
	margin-left: 0px;
}

.last {
	margin-right: 0px;
}

.login3 {
	color: black;
	background-color: white;
	width: 100%;
	padding: 30px;
	padding-top: 60px;
	padding-bottom: 60px;
	-webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05);
	box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.05);
}

.img_ind_admin {
	width: 100%;
}

.separacion {
	border-bottom: solid #e7e7e7 1px;
	padding-top: 25px;
	padding-bottom: 25px;
}


@media (max-width: $screen-md) {
	.op-elemento{
		margin: 0px;
		border: solid white 5px;
	}

	.grid-slider {
		display: none;
	}

	#nombresLista, #descripcionProductosCrud, #hide{
		display: none;
	}

	.login3{
		text-align: center;
	}

	#tituloCrud {
		text-align: center;
		margin-bottom: 20px;
	}

	.col-4 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 100%;
		max-width: 100%;
		/* width: 390px; */
	}

	.col-1 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 100%;
		width: 100%;
		max-width: 100%;
	}

}