<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <title> Agregar Producto | MiPC </title>
</head>

<body>
    <%- include("./partials/adminMenu.ejs") %>

        <main class="main">
            <div class="contenedor-login2">
                <div class="login3">
                    <h3>Agregar nuevo producto</h3>
                    <p>Agregar un nuevo artículo a tu tienda</p>

                    <form  action="create" method="POST">
                        <div class="campo-ind">
                            <label class="label-login">Nombre del producto: </label><br>
                            <input class="campo-log" type="text" style="background-color: transparent;"
                                placeholder="Se muestra a los usuarios" name="name" id="nombre_producto">
                        </div>

                        <div class="campo-ind">
                            <label class="label-login">Marca del producto: </label><br><br>
                            <select name="brand" id="marca">
                                <option value="value1" selected>Selecccionar marca </option>
                                <option value="Samsung">Samsung</option>
                                <option value="Apple">Apple</option>
                                <option value="Huawei">Huawei</option>
                                <option value="Asus">Asus</option>
                                <option value="LG">LG</option>
                                <option value="MSI">MSI</option>
                                <option value="LG">Gigabyte</option>
                            </select>

                        </div>
                        <div class="campo-ind">
                            <label class="label-login">Descripción de tu producto: </label><br>
                            <textarea class="campo-log" style="background-color: transparent;" name="description"
                                id="descripcion"> </textarea>
                        </div>
                        <!-- comentada
                        <div class="campo-ind">
                            <label class="label-login">Descripción secundaria de tu producto: </label><br>
                            <textarea class="campo-log" style="background-color: transparent;" name="descripcion_dos"
                                id="descripcion_dos"> </textarea>
                        </div>
                        -->
                        <div class="campo-ind">
                            <label class="label-login">Precio a público: </label><br>
                            <input class="campo-log" type="number" style="background-color: transparent;"
                                placeholder="$0.00 MXN" name="price" id="precio">
                        </div>

                        <div class="campo-ind">
                            <label class="label-login">Cantidad disponible: </label><br>
                            <input class="campo-log" type="number" style="background-color: transparent;"
                                placeholder="10" name="pieces" id="piezas">
                        </div>
                        
                        
                        <div class="campo-ind">
                            <label class="label-login">Imagen principal de producto: </label><br><br>
                            <input class="campo-log" type="file" accept=".png, .jpg" 
                                   style="background-color: transparent;"
                                   placeholder="Se muestra a usuarios" name="image" id="image">
                        </div>
                        


                        <div class="row">
                            <div class="col">
                                <div class="campo-ind">
                                    <label class="label-login">Categoría del producto: </label><br><br>
                                    <select name="category" id="categoria">
                                        <option value="value1" selected>Selecccionar categoría</option>
                                        <option value="Monitores">Monitores</option>
                                        <option value="Tarjetas de video">Tarjetas de video</option>
                                        <option value="Tarjetas gráficas">Tarjetas gráficas</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col">
                                <div class="campo-ind">
                                    <label class="label-login">SKU del producto: </label><br>
                                    <input class="campo-log" type="text"
                                        style="background-color: transparent; min-height: 100%;" placeholder="##"
                                        name="sku" id="sku">
                                </div>
                            </div>
                            <div class="col">
                                <div class="campo-ind">
                                    <label class="label-login">Descuento del producto: </label><br>
                                    <input class="campo-log" type="number"
                                        style="background-color: transparent; min-height: 100%;" placeholder="##"
                                        name="discount" id="descuento">
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-outline-success btn_search" type="submit">Registrar nuevo
                            producto</button>
                    </form>

                </div>


            </div>

        </main>

        <!-- Bootstrap - JS -->
        <%- include("./partials/bootstrap_script.ejs") %>

            <%- include("./partials/footer.ejs") %>

</body>

</html>