<!DOCTYPE html>
<html lang="es">
    <head>
        <title> Login | MiPC </title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel= "stylesheet"/>    
        
        <link rel="stylesheet" href="/css/normalize.css" type="text/css"/>
        <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    
    </head> 
    <body>
        <header>
          
        </header>
        <main >
           
            <div class="contenedor">
                <div class="caja__login">
                    <h3>¿Ya tienes cuenta? </h3>
                    <p>Inicia sesión </p>
                    <button id="boton_iniciar-sesion">Iniciar sesión</button>
                </div>
            
            </div class="contenedor_formulario_login">
            <form action="" class="" Formulario login">
                <h2>Inicia sesión</h2>
                <input type="text" placeholder="correo electronico">
                <input type="password" placeholder="contraseña">
                <button>entrar</button>
            </form>
        </main>
        <footer>      
        </footer>
    </body>  
</html>