<!DOCTYPE html>
<html lang="es">
    <head>
        <title> Login | MiPC </title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel= "stylesheet"/>    
        
        <link rel="stylesheet" href="/css/normalize.css" type="text/css"/>
        <link rel="stylesheet" href="/css/styles.css" type="text/css"/>
    
    </head> 
    <body>
        <header>
          
        </header>
        <main >
           
            <div class="contenedor">
                <div class="caja__login">
                    <h3>¿Ya tienes cuenta? </h3>
                    <p>Inicia sesión </p>
                    <button id="boton_iniciar-sesion">Iniciar sesión</button>
                </div>
            
            </div class="contenedor_formulario_login">
            <form action="" class="" Formulario login">
                <h2>Inicia sesión</h2>
                <input type="text" placeholder="correo electronico">
                <input type="password" placeholder="contraseña">
                <button>entrar</button>
            </form>
        </main>
        <footer>
            <div>
                <div class="grid-ir-a-inicio">
                    <a id="ir-a-inicio" href=""> Inicio de página </a>
                </div>
                <div class="grid-footer-contenido">
                    <div class="grid-footer-enlaces">
                        <ul id="footer-enlaces">
                            <li class="enlace-del-footer"> 
                                <a href="">Enlace 1</a>
                            </li>
                            <li class="enlace-del-footer"> 
                                <a href="">Enlace 2</a>
                            </li>
                            <li class="enlace-del-footer"> 
                                <a href="">Enlace 3</a>
                            </li>
                            <li class="enlace-del-footer"> 
                                <a href="">Enlace 4</a>
                            </li>
                            <li class="enlace-del-footer"> 
                                <a href="">Enlace 5</a>
                            </li>
                            <li class="enlace-del-footer"> 
                                <a href="">Enlace 6</a>
                            </li>
                            <li class="enlace-del-footer"> 
                                <a href="">Enlace 7</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid-footer-logo">
                        <a title="Mi PC" href="/index">
                            <img class="img-logo-centrado" 
                                 src="/images/placeholderLogo.png"
                                 alt="Logo de Mi PC">
                        </a>
                    </div>
                    <div class="grid-footer-info">
                        <div class="grid-footer-info-detalles">
                            <div class="footer-texto">
                                <p>"Sucursal"</p>
                                <br/>
                                <p>"Oficinas"</p>
                                <br/>
                                <p>"Telefono"</p>
                                <br/>
                                <p>"Correo"</p>
                            </div>
                        </div>
                        <div class="grid-footer-info-redesSociales">
                            <div class="grid-caja-icono-redes">
                                <a class="icono-red" 
                                   href="">
                                <i class="fab fa-facebook"></i>
                                </a>
                                <a class="icono-red" 
                                   href="">
                                <i class="fab fa-facebook"></i>
                                </a>
                                <a class="icono-red" 
                                   href="">
                                <i class="fab fa-facebook"></i>
                                </a>
                                <a class="icono-red" 
                                   href="">
                                <i class="fab fa-facebook"></i>
                                </a>
                                <a class="icono-red" 
                                   href="">
                                <i class="fab fa-facebook"></i>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
    </body>  
</html>