<div class="grid-comentario">
    <div class="grid-perfil-usuario">
        <p>
            <i class="fas fa-user"></i>
            Nombre Usuario
        </p>
    </div>
    <div class="grid-puntuacion">
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
    </div>
    <div class="grid-comentario">
        <p>Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
            Vivamus fermentum a sem eget
            pretium. Curabitur non ipsum
            at eros fermentum suscipit at
            sit amet urna.
        </p>
    </div>
</div>