<!DOCTYPE html>
<html lang="es">
  <!-- plantilla de errores 50x -->

  <head>
    <title>Home | MiPC</title>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <img class="imgError" src="/images/notFound.png" alt="Error 400" />
    <div class="textError">400 Bad Request</div>
  </body>
</html>
