<!DOCTYPE html>
<html lang="es">
  <!-- plantilla de errores 40x -->
  
  <head>
    <title>Home | MiPC</title>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <img class="imgError" src="/images/notFound.png" alt="Error 4<%=xx%>" />
    <div class="textError">4<%=xx%> <%= locals.msg %> </div>
  </body>
</html>
