<!--
<div class="grid-contenedor-menu-hamburgesa">
    <span class="boton-hamburgesa"><i class="fas fa-bars"></i></span>
    <div class="menu-hamburgesa-head">
        <span class="boton-cerrar boton-icon"><i class="fas fa-times"></i></span>
    </div>
    <div class="menu-hamburgesa-body">
        <p class="menu-hamburgesa-link"><a href="/">HOME</a></p>
        <p class="menu-hamburgesa-link"><a href="/productCart">CARRITO DE COMPRAS</a></p>
        <p class="menu-hamburgesa-link"><a href="/register">REGISTRAR</a></p>
        <p class="menu-hamburgesa-link"><a href="/login">LOGIN</a></p>
    </div>
    <div class="menu-hamburgesa-footer"></div>
</div>
-->

<!-- Top Navigation Menu -->
<div class="topnav">
    <a href="#home"><img src="/images/logo/logo_v1.png" alt="Logo_mypc" width="80px"
            style="filter: brightness(0) invert(1);"></a>

    <div id="myLinks">
        <p class="menu-hamburgesa-link"><a href="/">INICIO</a></p>
        <p class="menu-hamburgesa-link"><a href="/cart">CARRITO DE COMPRAS</a></p>
        <p class="menu-hamburgesa-link"><a href="/user/register">CREAR CUENTA</a></p>
        <p class="menu-hamburgesa-link"><a href="/user/login">INICIAR SESION</a></p>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<!-- End smartphone / tablet look -->

<script>
    function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>