.genaralInfoContainer{
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-rows: 1fr; 
    /* grid-template-columns: repeat(3, 300px); */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.genaralTwoContainer{
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-rows: 1fr; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

/*
@media (max-width: 1333px) {
    .genaralInfoContainer{
        grid-template-rows: 1fr 1fr; 
        grid-template-columns: 1fr 1fr;
        justify-content: space-around; 
    }
}

@media (max-width: 950px) {
    .genaralInfoContainer{
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-columns: 1fr;
        justify-content: space-around; 
    }
}
*/