.genaralInfoContainer{
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-rows: 1fr; 
    grid-template-columns: repeat(3, 300px);
    grid-gap: 100px;
}

.genaralTwoContainer{
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-rows: 1fr; 
    grid-template-columns: repeat(2, 500px);
    grid-gap: 100px;
}

/*
@media (max-width: 1333px) {
    .genaralInfoContainer{
        grid-template-rows: 1fr 1fr; 
        grid-template-columns: 1fr 1fr;
        justify-content: space-around; 
    }
}

@media (max-width: 950px) {
    .genaralInfoContainer{
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-columns: 1fr;
        justify-content: space-around; 
    }
}
*/