.genaralInfoContainer{
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 35px 35px; 
    justify-content: center; 
    align-content: center; 
    justify-items: center; 
    align-items: center; 
}